.card-wrapper{
    // .icon{
    //     // color: red;
    // }

    .price{
        font-size: 1.5rem;
    }

    .content{
        // min-height: 50px;
        // max-height: 50px;
        height: 50px !important;
        overflow-y: scroll;
    }
}