.header-wrapper{
    background-color: floralwhite;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px;
    box-shadow: 2px 5px 10px #888;
    height: 10%;

    .nav{
        display: flex;
        flex-direction: row;
        gap: 15px;

        a{
            text-decoration: none;
        }
    }

    .brand{
        position: relative;
        top: 5px;
        margin-left: 50px;
    }
}