
$font-size-extra-small: 0.6rem;
$font-size-tiny: 0.800rem; //12px
$font-size-small: 1rem; //14px
$font-size-medium: 1.12rem; // 16px
$font-size-large: 1.5rem; // 18px

$bold: 600;
$extra-bold: 700;
$dark: 500;
$regular: 400;
$light: 300;
$extra-light: 300;

$cover: 100%;

$secondary-text: #818181;

$navbar-color: floralwhite;
$navbar-hover-color: #ffadb1;


$hover-cursor: pointer;
