
<div class="form-wrapper">
    Email
    <input type="text" (focusout)="CheckEmailValidation($event)" class="form-control" appEmailValidation>
    <span *ngIf="emailvalidation == 'false'" appError>Please enter the valid email address </span>
    <span *ngIf="emailvalidation == 'req'" appError>Please enter the email address </span>

    <br><hr><br>

    Mobile Number
    <input type="text" (focusout)="CheckPhoneValidation($event)" class="form-control" appPhoneValidation>
    <span *ngIf="phoneValidation == 'false'" appError>Please enter the valid Phone number </span>
    <span *ngIf="phoneValidation == 'req'" appError>Please enter the Phone number </span>

    <br><hr><br>

    <div class="input-group">
        <label>Seperator<span class="note"> [*Note: '/' is a default seperator]</span></label>
        <input type="text" [(ngModel)]="seperator" class="form-control seperator" maxlength="1">

        <label>Date <span class="note">[*Note: DDMMYYYY]</span></label> 
        <input type="text" [seperator]="seperator" (keyup)="CheckInput($event)" (focusout)="CheckDateValidation($event)" class="form-control" appDateValidation>
    </div>
    <h6 *ngIf="dateValidation == 'false'" appError>Please enter the valid Date <span class="note">[*Note: Date must contains 8 digits]</span></h6>
    <h6 *ngIf="lengthValidation == 'false'" appError> Date must be less than 8 digit </h6>
    <h6 *ngIf="inputValidation == 'false'" appError> Date Contains only number</h6>
    <h6 *ngIf="dateValidation == 'dinvalid'" appError>Day Invalid <span class="note">[*Note: Day must be less than 31]</span></h6>
    <h6 *ngIf="dateValidation == 'minvalid'" appError>Month Invalid <span class="note">[*Note: Month must be less than 12]</span></h6>
    <h6 *ngIf="dateValidation == 'req'" appError>Please enter the date</h6>

    <br><br><br>
    <h4 class="display-date" *ngIf="!(displayDate == 'false' || displayDate == 'dinvalid' || displayDate == 'minvalid' || displayDate == 'req')">{{date}}</h4>

        
    <!-- Seperator
    <input type="text" class="form-control" appDateSeperator> -->
</div>
