.footer-wrapper{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #131A22;
    height: 50px;
    color: floralwhite;
    text-align: center;

    footer{
        .copyrite{
            margin-top: 10px;
        }
    }

    
}